body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header {
  justify-content: center;
}

.subheader {
  text-align: center;
  font-weight: bold;
}

.logo {
  align-items: right;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  text-decoration: underline;
  background-color: rgb(250, 0, 0);
  text-shadow: #000;
}

.nav-links{
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-right: 20px;
}

.logo-img {
  display: flex;
  align-items: left;
}

.logo-img img{
  max-width: 200px;
  height: auto;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    box-sizing: border-box;
    text-align: center;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }